ul, #myUL {
  list-style-type: none;
}


#myUL {
  margin: 0;
  padding: 0;
}
.sub {
  cursor: pointer;
  user-select: none;
}


.sub::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}





.sub1{
  cursor: pointer;
  user-select: none; 
}


.sub1::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}


.sub2{
  cursor: pointer;
  user-select: none;
}
.sub2::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.nested {
  display: none;
}

.active {
  display: block;
}
